<div class="container">
	<div class="row">
		<div class="col-md-4">
		<% if @new %>
		<h1>New Application</h1>
		<% else %>
		<h1>Editing <%= @app.name %></h1>
		<% end %>

		<% if @app.errors.count > 0 %>
		<div class="alert alert-error">
			<p>The following errors need to be corrected:</p>
			<ul>
				<% @customer.errors.each do |e| %>
				<li><%= e[0] %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<form role="form" id="newCustomerForm" action="/apps/<%=@app.id%>" method="post">
			<div class="form-group">
				<label for="name">App Name</label>
				<input type="text" class="form-control" id="name" name="name" placeholder="The Orange App" value='<%= @app.name %>'>
			</div> 
			<div class="form-group">
				<label for="description">Brief Description</label>
				<input type="text" class="form-control" id="description" name="description" placeholder="This app is great." value='<%= @app.description %>'>
			</div> 	

		<!-- 		  
			<div class="form-group">
			    <label for="exampleInputFile">File input</label>
			    <input type="file" id="exampleInputFile">
			    <p class="help-block">Example block-level help text here.</p>
			</div> 
		-->
			<input type="submit">
		</form>
		</div>
	</div>
</div>
