<div class="container">
	<div class="page-header">
		<% if admin_mode? %>
		<div style="float: right;">
			<%= link_to '/apps/new', "Add Application", {:class => "btn btn-primary"} %>
			<%= link_to '/apps/version/new', "Add Version", {:class => "btn btn-primary"} %>
		</div>
		<% end %>
		<h1>Available Apps</h1>
	</div>

	<% if @applications.count == 0 %><center>No applications available.</center><% end %>

	<div class="row">
		<% @applications.each do |app| %>
			<!-- <div class="row">		 -->
			  <div class="col-sm-6 col-sm-4 appbox">
			    <div class="thumbnail">
			      <img src="/img/x.png" width=200 height=200>
			      <div class="caption">
			        <h3>
			        	<%= app.name %>
			        	<% if admin_mode? %><%= link_to "/apps/#{app.id}/edit?admin", "Edit", {:class => "btn btn-sm btn-primary"} %><% end %>
			        </h3>
			        <!-- <p height="40px"><%= app.description %></p> -->
			        <p>
			        	<!-- "itms-services://?action=download-manifest&url=http://mydomain.com/test/myApp.plist" -->
			        	<% if app.most_recent_ios_version %><a href="itms-services://?action=download-manifest&url=<%=request.scheme%>://<%=request.host%>/apps/<%=app.id%>/plist"><img src="/img/apple.png" height=75 width=75 alt="Tap to install for iOS" /></a><% end %>
			        	<% if app.most_recent_android_version %><a href="/apps/<%= app.id %>/apk"><img src="/img/android.png" height=75 width=75  alt="Tap to install for Android" /></a><% end %>
			        </p>
			      </div>
			    </div>
			  </div>
			<!-- </div>		 -->
		<% end %>
	</div>
	
	
</div>

</script>