!!! html
%html{:lang=>'en'}
	%head
		%meta{:charset => 'utf8'}
		%title
			= settings.app_name || "Sinatra Bare App"
			| Authentication
		%link{:rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'}
		%link{:rel => 'stylesheet', :href => '/css/authapp.css'}

	%body

		.container
			- if flash[:success]
				.alert.alert-success
					%button.close{:type => 'button', :data => {:dismiss => 'alert'}}
					%p
						%strong Hey, listen!
						%br
						= flash[:success]
			- if flash[:error]
				.alert.alert-error
					%button.close{:type => 'button', :data => {:dismiss => 'alert'}}
					%p
						%strong Hey, listen!
						%br
						= flash[:error]	
			- if flash[:notice]
				.alert.alert-info
					%button.close{:type => 'button', :data => {:dismiss => 'alert'}}
					%p
						%strong Hey, listen!
						%br
						= flash[:info]		

			= yield									


		%script{:src => '//code.jquery.com/jquery.js'}
		%script{:src => '//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js'}
