<!DOCTYPE html>
<html>
<head>
  <title>Bare App</title>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="#">BaseSinatraApp</a>

          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/protected">Protected Place</a></li>
          </ul>

          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <% if current_user && is_admin? %><span class="label label-important">Admin</span><% end %>
                <% if warden.authenticated? %>
                    Hello, <%= current_user.display_name %>
                <% else %>
                    Hello, Guest!
                <% end %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if warden.authenticated? %>
                    <li><a href="/auth/logout">Logout</a></li>
                <% else %>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/register">Register</a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <% if flash[:success] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Hey, Listen!</strong><br/><%= flash[:success] %>
          </div>
      <% end %>
      <% if flash[:error] %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Hey, Listen!</strong><br/><%= flash[:error] %>
          </div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Hey, Listen!</strong><br/><%= flash[:notice] %>
          </div>
      <% end %>

      <%= yield %>
    </div>
</body>
</html>