<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @app_name %></title>
  <!-- Latest compiled and minified CSS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="padding-top: 50px;">
    <div class="navbar navbar-fixed-top" role="navigation" style="background-color: orange;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="color: #FFFFFF;"><%= settings.app_name %> <% if is_admin? %><span class="label label-danger">Admin Mode</span><% end %></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <% if flash[:success] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Hey, Listen!</strong><br/><%= flash[:success] %>
          </div>
      <% end %>
      <% if flash[:error] %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Hey, Listen!</strong><br/><%= flash[:error] %>
          </div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Hey, Listen!</strong><br/><%= flash[:notice] %>
          </div>
      <% end %>
    </div> <!-- /.container (flash) -->
    <%= yield %>
    
</body>
</html>