<% if @new %>
<h1>New Application for <%= @customer.name %></h1>
<% else %>
<h1>Editing: <%= @application.name %> for <%= @customer.name %></h1>
<% end %>

<% if @application.errors.count > 0 %>
<div class="alert alert-error">
	<p>The following errors need to be corrected:</p>
	<ul>
		<% @customer.errors.each do |e| %>
		<li><%= e[0] %></li>
		<% end %>
	</ul>
</div>
<% end %>

<form role="form" id="newApplicationForm" action="/customers/<%=@customer.memberID%>/apps" method="post" enctype='multipart/form-data'>
	<div class="form-group">
		<label for="name">Application Name</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="NTO Dev App" value='<%= @application.name %>'>
	</div>
	<div class="form-group">
		<label for="encodedCodeAtAppId">Encoded App ID</label>
		<select id="codeAtApps">
			<option value='other'>Other</option>
		</select>
		<input type="text" class="form-control" id="encodedCodeAtAppId" name="encodedCodeAtAppId" placeholder="Long, Long String" value="<%= @application.encodedCodeAtAppId %>">
	</div>		 
	<div class="form-group">
		<label for="stack">Platform</label>
		<select class="form-control" name="platform" id="platform">
			<option <% if @application.platform == 'APNS' %>checked<%end%> >APNS</option>
			<option <% if @customer.stack == 'GCM' %>checked<%end%>>GCM</option>
			<!-- <option <% if @customer.stack == 'wp' %>selected<%end%>>Windows Phone</option> -->
			<!-- <option <% if @customer.stack == 'bb' %>selected<%end%>>BlackBerry</option> -->
		</select>
	</div> 
	<div id="apns">
		<div class="form-group">
			<label for="apnsCertificateFile">APNS Certificate File</label>
			<input type="file" id="apnsCertificateFile" name="apnsCertificateFile"></input>
		    <p class="help-block">This file must be exported correctly! We'll be checking.</p>
		 </div>
		 <div class="form-group">
			<label for="apnsCertificatePassword">APNS Certificate Password</label>
			<input type="text" class="form-control" id="apnsCertificatePassword" name="apnsCertificatePassword" placeholder="optional">
			<p class="help-block">If the file was exported with a password, this field is required. If not, it is optional.</p>

		</div>	
	</div>
	<div id="gcm">
		<div class="form-group">
			<label for="gcmApiKey">GCM API Key</label>
			<input type="text" class="form-control" id="gcmApiKey" name="gcmApiKey" placeholder="Required for GCM">
		 </div>
	</div>

<!-- 		  
	<div class="form-group">
	    <label for="exampleInputFile">File input</label>
	    <input type="file" id="exampleInputFile">
	    <p class="help-block">Example block-level help text here.</p>
	</div> 
-->
	<input type="submit">
</form>

<script type="text/javascript">
$(document).ready(function() {
	$("#gcm").hide();

	$("#platform").change(function() {
		if ($(this).val() == 'APNS') {
			$("#apns").show();
			$("#gcm").hide();
		} else if ($(this).val() == 'GCM') {
			$("#apns").hide();
			$("#gcm").show();
		}
	});

	$("#codeAtApps").change(function() {
		$( "#codeAtApps option:selected" ).each(function() {
	      console.log(this);
	      console.log(this.value);
	      $("#encodedCodeAtAppId").val(this.value);
	      $("#encodedCodeAtAppId").prop('disabled', true);
	    });

	    if (this.value == 'other') {
	    	$("#encodedCodeAtAppId").prop('disabled', false);
	    };
	});


	$.ajax({
		type: 'GET',
		url: "<%= @customer.stack_url %>/rest/beta/push/application/",
		async: true,
		dataType: 'json',
		beforeSend: function(xhr){xhr.setRequestHeader('Accept', 'application/json'); xhr.setRequestHeader('Authorization', "OAuth oauth_token=<%=@customer.oauthToken%>");},
		// headers: {'Authorization' : "OAuth oauth_token=<%=@customer.oauthToken%>", 'Accept' : 'application/json'},
		success: function(data) {
			console.log(data);
			$.each(data.entry, function(idx, value) {
				$("#codeAtApps").append("<option value='" + value.id + "'>" + value.name + "</option>");
			});
		},
		error: function() {
			console.log("Failed to get apps.");
		}
	});

});
</script>