<ol class="breadcrumb">
  <li><a href="/customers">Home</a></li> /  
  <li class="active"><%= @customer.name %>'s Apps</li>
</ol>
<div class="container">
<h1>
	<%= @customer.name %>
	<small><%= @customer.memberID %> | <%= @customer.applications.count %> apps</small>
</h1>
</div>

<div class="container">
<table id="MyGrid" class="table table-bordered datagrid">
	<thead>
	<tr>
		<th>
			<span class="datagrid-header-title"><%= @customer.name %>'s Apps</span>
 
			<div class="datagrid-header-left">
				<div class="input-append search datagrid-search">
					<input type="text" class="input-medium" placeholder="Search">
					<button type="button" class="btn"><i class="icon-search"></i></button>
				</div>
			</div>
			<div class="datagrid-header-right">
				<div class="select filter" data-resize="auto">
					<button type="button" class="btn btn-primary" onclick="window.location.href='/customers/<%= @customer.memberID %>/apps/new'">Add Application</button>
					<button type="button" data-toggle="dropdown" class="btn dropdown-toggle">
						<span class="dropdown-label"></span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li data-value="all" data-selected="true"><a href="#">All Platforms</a></li>
						<li data-value="apns"><a href="#">APNS</a></li>
						<li data-value="gcm"><a href="#">GCM</a></li>
						<li data-value="wp"><a href="#">Windows Phone</a></li>
						<li data-value="bb"><a href="#">BlackBerry</a></li>
					</ul>
				</div>
			</div>
		</th>
	</tr>
	</thead>
	<tfoot>
	<tr>
		<th>
			<div class="datagrid-footer-left" style="display:none;">
				<div class="grid-controls">
					<span>
						<span class="grid-start"></span> -
						<span class="grid-end"></span> of
						<span class="grid-count"></span>
					</span>
					<div class="select grid-pagesize" data-resize="auto">
						<button type="button" data-toggle="dropdown" class="btn dropdown-toggle">
							<span class="dropdown-label"></span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li data-value="5" data-selected="true"><a href="#">5</a></li>
							<li data-value="10"><a href="#">10</a></li>
							<li data-value="20"><a href="#">20</a></li>
							<li data-value="50"><a href="#">50</a></li>
							<li data-value="100"><a href="#">100</a></li>
						</ul>
					</div>
					<span>Per Page</span>
				</div>
			</div>
			<div class="datagrid-footer-right" style="display:none;">
				<div class="grid-pager">
					<button type="button" class="btn grid-prevpage"><i class="icon-chevron-left"></i></button>
					<span>Page</span>
 
					<div class="input-append dropdown combobox">
						<input class="span1" type="text">
						<button type="button" class="btn" data-toggle="dropdown"><i class="caret"></i></button>
						<ul class="dropdown-menu"></ul>
					</div>
					<span>of <span class="grid-pages"></span></span>
					<button type="button" class="btn grid-nextpage"><i class="icon-chevron-right"></i></button>
				</div>
			</div>
		</th>
	</tr>
	</tfoot>
</table>
</div>

<script src="/js/datasource.js" type="text/javascript"></script>
<script  type="text/javascript">
function doDelete(appId) {
	console.log("Deleting: " + appId);
	if (confirm("Are you sure you want to delete?\n\nThis is unavoidable permanent and incredibly undoable.")) {
		$.ajax({
			url: '/customers/<%= @customer.memberID %>/apps/' + appId, 
			type: 'DELETE',
			accepts: 'application/json',
			success: function(data) {
				window.location.reload();
			},
			error: function() {
				alert("Error occured.");
			}
		});
	};

	return false;
};

function doProvision(appId) {
	console.log("Provisioning: " + appId);
	if (confirm("This will submit a provisioning call IN PRODUCTION for this customer. Doing so can be bad if the credentials aren't setup correctly.\n\nAre you sure you want to do this?")) {
		var fullURL = '/customers/<%=@customer.memberID%>/apps/' + appId + '/provision';
		console.log(fullURL);
		$.ajax({
			type: 'GET',
			url: fullURL,
			headers: {'Accept' : 'application/json'},
			success: function(data) {
				console.log(data);
				alert("Provisioning complete. Customer should be ready to send!");
			},
			error: function() {
				alert("Provisioning failed. Sorry.");
			}
		});
	};

	return false;
};

$(function () {
	var dataSource = new StaticDataSource({
                                columns: [
                                        {
                                                property: 'name',
                                                label: 'Name',
                                                sortable: true
                                        },
                                        {
                                                property: 'encodedCodeAtAppId',
                                                label: 'Encoded Code@ET ID',
                                                sortable: true
                                        },
                                        {
                                                property: 'platform',
                                                label: 'Platform',
                                                sortable: true
                                        },
                                        {
                                        	property: 'options',
                                        	label: '',
                                        	sortable: true
                                        }
                                ],
                                data: <%= @customer.applications.to_json(:only => [:id, :name, :encodedCodeAtAppId, :platform]) %>,
                                formatter: function (items) {
                                	$.each(items, function(index, item) {
                                		item.options = "<button type='button' class='btn btn-primary' id='provision' onclick='doProvision(\"" + item.encodedCodeAtAppId + "\");'>Provision</button> <button type='button' class='btn btn-danger' id='delete' onclick='doDelete(\"" + item.encodedCodeAtAppId + "\");'>Delete</button>";
                                	});
                                },
                                delay: 250
                        });
	$('#MyGrid').datagrid({ dataSource: dataSource, stretchHeight: false });
});
$(document).ready(function() {

});
</script>